.navbar{
    height: 68px;
    align-items: center;
    z-index: 20;
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 1.2rem;
    width: 100%;
   
    top: 0;
    background-color: var(--selected-theme-nav-background-color);
    #link{
        color: var(--selected-theme-main-color);

    }
}

#container{
   
}

#logo{
 color: var(--selected-theme-main-color);
 cursor: pointer;
 font-size: 2rem;
 
 
 
 
}

#spin:hover{
    border-radius: 50%;

    animation-name: spin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

.theme-bg{
    background-color: white;
}