.about{
    &__content{
        display: flex;
        gap: 20px;
        padding: 20px;
        width: 100%;

        &__personalWrapper{
            flex:1;
            h3{
                margin-bottom: 10px;
                font-size: 2.5rem;
                color: var(--selected-theme-main-color);
                font-weight: 700;
            }

            h3.personalContent{
                padding-top: 20px;
                width: 500px;
            }

            p{
                color: var(--selected-theme-sub-text-color);
                font-size: 1.2rem;
                line-height: 1.65;
                padding-bottom: 20px;
                border-bottom: 1px dashed var(--selected-theme-main-color);


            }
            ul > li{
                line-height: 1rem;
                margin-bottom: 15px;

                span.title, span.value{
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: 0.5px;
                    border-bottom: 2px solid var(--selected-theme-main-color);
                    position: relative;
                    display: inline-block;
                    margin-right: 16px;
                    padding-bottom: 1px;
                    color: var(--selected-theme-sub-text-color);


                }

                span.value{
                    border: none;
                }
            }
        }

        &__servicesWrapper{
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__innerContent{
                width: 350px;
                height: 350px;
                position: relative;
                border-radius: 50%;
                border: 1.5px solid var(--selected-theme-main-color);
                background: radial-gradient(180px , var(--selected-theme-main-color), transparent 90%);
                animation: rotation 6s linear 1s infinite;
                div:nth-child(1){
                    position: absolute;
                    top: 10px;
                    left: 60px
                }

                div:nth-child(2){
                    position: absolute;
                    top: -10px;
                    left: 128px;
                }
                div:nth-child(3){
                    position: absolute;
                    top: -10px;
                    left: 200px;
                }
                div:nth-child(4){
                    position: absolute;
                    top: 25px;
                    left: 270px;
                }
                div:nth-child(5){
                    position: absolute;
                    bottom: 230px;
                    left: 320px;
                }
                div:nth-child(6){
                    position: absolute;
                    bottom: 140px;
                    left: 330px;
                }
                div:nth-child(7){
                    position: absolute;
                    bottom: 70px;
                    left: 310px;
                }
                div:nth-child(8){
                    position: absolute;
                    bottom: 20px;
                    left: 265px;
                }
                div:nth-child(9){
                    position: absolute;
                    bottom: 1px;
                    left: 220px;
                }
                div:nth-child(10){
                    position: absolute;
                    bottom: -9px;
                    left: 170px;
                }
                div:nth-child(11){
                    position: absolute;
                    bottom: -9px;
                    left: 130px;
                }
                div:nth-child(12){
                    position: absolute;
                    bottom: -4px;
                    left: 90px;
                }
                div:nth-child(13){
                    position: absolute;
                    bottom: 30px;
                    left: 40px;
                }
                div:nth-child(14){
                    position: absolute;
                    bottom: 90px;
                    left: 1px;
                }
                div:nth-child(15){
                    position: absolute;
                    bottom: 150px;
                    left: -12px;
                }

                div:nth-child(16){
                    position: absolute;
                    bottom: 200px;
                    left: -12px;
                }
                div:nth-child(17){
                    position: absolute;
                    bottom: 260px;
                    left: 8px;
                }
            }
        }
    }
 
  
}

@keyframes rotation {
    100%{
        transform: rotate(-360deg);
    }
}


@media only screen and (max-width : 768px){
   .about__content{
       flex-direction: column;

       &__servicesWrapper{
           margin-top: 20px;
           margin-bottom: 20px;

           &__innerContent{
               width: 250px;
               height: 250px;
               background: radial-gradient(100px, var(--selected-theme-main-color),transparent 120%);

               div:nth-child(1){
                position: absolute;
                top: -10px;
                left: 68px
                }
                div:nth-child(2){
                    position: absolute;
                    top: -10px;
                    left: 108px;
                }
                div:nth-child(3){
                    position: absolute;
                    top: -10px;
                    left: 145px;
                }
                div:nth-child(4){
                    position: absolute;
                    top: 15px;
                    left: 190px;
                }
                div:nth-child(5){
                    position: absolute;
                    bottom: 150px;
                    left: 220px;
                }
                div:nth-child(6){
                    position: absolute;
                    bottom: 100px;
                    left: 225px;
                }
                div:nth-child(7){
                    position: absolute;
                    bottom: 54px;
                    left: 221px;
                }
                div:nth-child(8){
                    position: absolute;
                    bottom: 20px;
                    left: 200px;
                }
                div:nth-child(9){
                    position: absolute;
                    bottom: -20px;
                    left: 130px;
                }
                div:nth-child(10){
                    position: absolute;
                    bottom: -10px;
                    right: 0px;
                }
                div:nth-child(11){
                    position: absolute;
                    bottom: -20px;
                    left: 90px;
                }
                div:nth-child(12){
                    position: absolute;
                    bottom: -15px;
                    left: 50px;
                }
                div:nth-child(13){
                    position: absolute;
                    bottom: 20px;
                    left: 10px;
                }
                div:nth-child(14){
                    position: absolute;
                    bottom: 70px;
                    left: -15px;
                }
                div:nth-child(15){
                    position: absolute;
                    bottom: 120px;
                    left: -19px;
                }

                div:nth-child(16){
                    position: absolute;
                    bottom: 160px;
                    left: -12px;
                }
                div:nth-child(17){
                    position: absolute;
                    bottom: 200px;
                    left: 20px;
                }
                }
       }
   }
}

